// customised for what-ive-learned
.colorpicker-list {
  margin: 2vh 3vw;
  display: flex;
  flex-flow: row wrap;
  width: 86vw;
}
.colorpicker-field {
  width: 2.25rem;
  height: 2.25rem;
  @media screen and (min-width:420px) {
    width: 3rem;
    height: 3rem;
  }
  cursor: pointer;
  box-sizing: border-box;
  &.active-color {
    border: 2px solid @dark-blue;
  }
}
