#home {
  .header {
    margin-top: 2vh;
    background: none;
    .logo {
      height: 10vh;
      width: 90vw;
    }
  }
  .container {
    height: 76vh;
    overflow: hidden;
    button {
      height: 30vh;
      width: 30vh;
      max-height: 200px;
      max-width: 200px;
      margin-top:2vh;
      display:block;
      position:relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
