/* COLORS */
@white: rgb(240,240,255);

body {
  background: @white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#wrapper {
  width: 90vw;
}

.header {
  width: 300px;
  height: 40px;
  margin: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  >span.header-date {
    width: 200px;
    text-align: center;
  }
}

#home {
  .container {
    margin: 0 23vw;
  }
  .logo {
    background: url('/svg/logo.svg') no-repeat center;
    background-size: cover;
  }
}

.lightbulb {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url('/svg/lightbulb.svg') no-repeat center;
  background-size: cover;
}


.active {
  background-color: #dd2222;
}

@import 'typography';
@import 'colorpicker';
@import 'buttons';
