body, input, textarea {
  font-family: 'Nothing You Could Do', cursive;
  color: @dark-blue;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  text-align: center;
}


input, textarea {
  font-size: 22px;
}

.header {
  span.header-date {
    font-size: 16px;
  }
  span.header-cat {
    font-size: 22px;
  }
  span.header-sub {
    font-size: 18px;
  }
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  font-size: 28px;
  >li {
    margin-bottom: 10px;
  }
}
